<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <link href="stylesheets/sign.css" rel="stylesheet"/>

    <title></title>
  </head>

  <body>
    <section id="main" class="container-fluid">
      <div class="row">
        <a href="/">
          <h1>小书箱</h1>
        </a>
        <h2>一个超迷你网上书店</h2>
        <div id="descript" class="col-md-6">
          <div id="blurb">
            <p>全球最迷你的中文网上书店,全网最低价,快递送货上门,
              货到付款,为您提供方便快捷的网上购物体验!</p>
            <p>为您提供超级专业、实惠的购物享受!</p>
            <p>书店特色：</p>
            <ul>
              <li>简洁</li>
              <li>方便</li>
              <li>小众</li>
            </ul>
          </div>
        </div>

        <div id="sign" class="col-md-6">
          <div class="sign-nav">
            <a class="signin_ active" href="#signin">登录</a>
            <span>·</span>
            <a class="signup_" href="#signup">注册</a>
          </div>

          <div class="signin">
            <form action="sign" method="post">
              <div class="form-group">
                <label for="username">用户名</label>
                <input class="form-control" type="text" name="username"
                       id="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <label for="password">密码</label>
                <input class="form-control" type="password" name="password"
                       id="password" placeholder="Password" required>
              </div>
              <br/>
              <input type="hidden" name="sign" value="in">
              <button class="btn btn-primary btn-block btn-lg" type="submit">登录</button>
            </form>

            <!-- <div class="alert alert-error alert-dismissible" role="alert">
  	             <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 <strong>用户名或密码错误!</strong>
	               </div> -->
          </div>


          <div class="signup">
            <form action="sign" method="post">
              <div class="form-group">
                <label for="username">用户名</label>
                <input class="form-control" type="text" name="username"
                       id="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <label for="password">密码</label>
                <input class="form-control" type="password" name="password"
                       id="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <label for="way">联系方式</label>
                <input class="form-control" type="text" name="way"
                       id="way" placeholder="Phone" required>
              </div>
              <div class="form-group">
                <label for="addr">地址</label>
                <input class="form-control" type="text" name="addr"
                       id="addr" placeholder="Address" required>
              </div>
              <input type="hidden" name="sign" value="up">
              <button class="btn btn-primary btn-block btn-lg" type="submit">注册</button>
            </form>
            <!-- <div class="alert alert-error alert-dismissible" role="alert">
  				       <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 <strong>用户名已存在!</strong>
			           </div> -->
          </div>
        </div>
      </div>
    </section>


    <!-- jQuery -->
    <script src="javascripts/jquery-2.2.2.min.js"></script>
    <!-- bootstrap -->
    <script src="javascripts/bootstrap.min.js"></script>

    <script src="javascripts/sign.js"></script>
  </body>
</html>
